<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% if(typeof product == 'object' && product) { %>
      <title><%=product.name%></title>
    <% } else { %>
      <title>Biết giá sản phẩm tăng giảm từ Tiki</title>
    <% } %>
    <link rel="stylesheet" href="catalog/style_render_326.css">
    <link rel="stylesheet" href="catalog/orange.css">
    <link rel="stylesheet" type="text/css" href="catalog/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;amp;subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="Content/cssffec.css" rel="stylesheet"/>
    <link href="Content/jqueryUi400c.css" rel="stylesheet"/>
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script>
    window.onload = function () {

    var product =<%-JSON.stringify(product)%>
    var count = 0;

    var chart = new CanvasJS.Chart("chartContainer", {
    	animationEnabled: true,
    	theme: "light2",
    	title:{
    		text: "Biểu đồ giá"
    	},
      axisX:{
        valueFormatString: "MMM DD" ,
        labelAngle: -50
      },
    	axisY:{
    		includeZero: true
    	}
    	// data: [{
    	// 	type: "line",
    	// 	dataPoints: [
      //     { x: new Date(product.price[0].date), y: product.price[0].value}
    	// 	]
    	// }]
    });

    chart.options.data = []; // Set Array of dataSeries

    // https://canvasjs.com/docs/charts/basics-of-creating-html5-chart/updating-chart-options/
    product.price.forEach(function(data){
      chart.options.data[count] = {connectNullData: true}; // type: "line"
      chart.options.data.push({});
      chart.options.data[count].dataPoints = [];
      chart.options.data[count].dataPoints.push({x: new Date(data.date), y: data.value});

      count = count+1;
    });

    chart.render();

    }
    </script>


<style>
    body {
    font-family: Andale Mono, monospace  ;
    min-width: 300px;
    height: 100%;
    }
  </style>
  </head>
  <body>
    <span class="mb_right_hotline" >
      <span class="mb_bar">
        <ul>
          <li>
            <span class="glyphicon glyphicon-align-justify" style="font-size: 200%; padding-top: 15px; color: #337ab7" >  </span>
          </li>
          <li>
            <a href="/"> <span class="glyphicon glyphicon-home" style="font-size: 200%; padding-top: 15px; color: #337ab7"></span></a>
          </li>
          <li>
            <span class="glyphicon glyphicon-earphone" style="font-size: 200%; padding-top: 15px; color: #337ab7" >  </span>
          </li>
          <li>
            <span class="glyphicon glyphicon-envelope" style="font-size: 200%; padding-top: 15px; color: #337ab7" >  </span>
          </li>
          <li>
            <a href="https://www.google.com/maps?ll=10.773266,106.659467&z=16&t=m&hl=en-US&gl=US&mapclient=embed&cid=17255486204834244894"><span class=" glyphicon glyphicon-map-marker" style="font-size: 200%; padding-top: 15px; color: #337ab7" >  </span> </a>
          </li>
        </ul>
        <!--img class="icon_bottom" style="width:100%;z-index:0;" src="Content/images/mb_bar_bgsk.png"-->
      </span>
    </span>
    <!--#begin Header-->
    <Header >
      <div class="container-fluid" style="background-color:  #222222">
        <div class="container">
          <a href='/' id='logo' class='columns' style = "text-align: left; ">
            <h1 style= "font-size:300%;color: white" >SoSanh.com</h1>
          </a>
          <!--Search Form-->
          <div class="columns head_mid" style ="margin-top:13px; background: #222222 ">
            <div class="input-group" style ="background: #222222">
              <input type="text" class="form-control" placeholder="Tìm kiếm">
              <span class="input-group-btn" >
              <button class="btn btn-default" type="button" style = " background: #337ab7; color: white"> <span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
          <!--end Search Form-->
          <!--Cart Head-->
          <!--end Cart Head-->
          <!--Account-->
          <div class="filter_name account_area fr">
            <% if(!currentUser){ %>
            <i class="fa fa-user"></i>
            <div class="account_link_pad" style = "color:white"> <span class="account_login"><b>Đăng nhập</b></span><i class="i_view_more"></i> <span class="account_login_more">Tài khoản &amp; Đơn hàng</span> </div>
            <div class="contentEGP">
              <div class="form_head">

                <form action="/login" method="POST">
                  <div class="dropdown_title">Đăng nhập</div>
                  <div class="input_form">
                    <input type="text" name="username" id="txtemail" maxlength="50" class="input identity" placeholder="Email" />
                  </div>
                  <div class="input_form">
                    <input type="password" name="password" id="txtpass" class="input password" placeholder="Mật khẩu" />
                  </div>
                  <div class="login-notify"></div>
                  <div class="input_form">
                    <!-- <a href="#" class="button" id="btnLogin" style = "height:45px">Đăng nhập <i class="arr_circle"></i></a> -->
                    <button class="button" id="btnLogin" style = "height:45px">Đăng nhập <i class="arr_circle"></i></button>
                  </div>
                  <div class="input_form note_wrapper"><a class="lost_password fl" href="#">Quên mật khẩu?</a> <a rel="nofollow" href="/dang-ky" class="fr">Đăng ký</a> </div>
                </div>
              </form>
            </div>
            <% } else { %>
              <p style="color:#9d9d9d;">Xin chào <%=currentUser.mail%></p>
            <% } %>
          </div>
          <!--end Account-->
        </div>
      </div>
     <div class="container">
        <div class="head_bottom">
          <div class="container">
          <!--Main Menu-->
          <div class="all_categories all_cate_subpage">
            <div class="menu_Tab"><i class="icon_menu"></i>Danh mục sản phẩm</div>
            <div class="show_menu">
              <ul class="nav_menu" style="display: block">
                <% for (var i=0; i<10; i++) { %>
                <% if(categories[i]){ %>
                <li class="m_li" id="menu2">
                  <i class="icon_cate"> </i> <a class="t_menu" href = "/danh-muc/<%=categories[i].category_url%>"><%=categories[i].name%></a>
                  <!--<div class="list_categories">-->
                  <!--  <ul class="subcatwrapper">-->
                  <!--    <li class="pc_menu">-->
                  <!--      <ul>-->
                  <!--        <li><a href="noi-com-dien.html"> Nồi cơm điện</a> </li>-->
                  <!--        <li><a href="noi-ap-suat.html"> Nồi áp suất</a> </li>-->
                  <!--      </ul>-->
                  <!--    </li>-->
                  <!--  </ul>-->
                  <!--</div>-->
                </li>
                <% } %>
                <% }; %>
              </ul>
            </div>
            <div class="cf"> </div>
          </div>
          <!--End Main Menu-->
          <!--Right Top Main-->
          <!--End Right Top Main-->
        </div>
      </div>
      </div>
    </Header>
