<% include partials/header %>
<!--#end Header-->
<div class="container cf">
  <!-- Jquery Top Banner -->
  <div class="col-sm-3"></div>
  <div class="col-sm-9" style = "padding-right : 0px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="sp-slide"><a  title=""><img class="img-responsive sp-image" src="Data/Ads/apple.jpg" style="width:100%; height:10%"></a></div>
        </div>
        <div class="item">
          <div class="sp-slide"><a  title=""><img class="img-responsive sp-image" src="Data/Ads/google.jpg" style="width:100%; height:20%"></a></div>
        </div>
        <div class="item">
          <div class="sp-slide"><a  title=""><img class="img-responsive sp-image" src="Data/Ads/amazon.jpg" style="width:100%; height:20%"></a></div>
        </div>
      </div>
      <!-- Left and right controls -->
    </div>
  </div>
  <!--End Jquery Top Banner -->
  <div class="cf"></div>
  <!--Ads Top Main-->
  <!--end Ads Top Main-->
  <!-- main content -->
  <br><br>
  <div class="list_categories_pros">
    <!--Cate Box-->
    <% categories.forEach(function(category){ %>
    <div class="box">
      <div class="box_Tab_cate_home">
        <div class="main_cate" style = "background-color: #337ab7">
          <h2 class="link_cate" >
            <a title="<%= category.name %>">
              <h5><%= category.name %></h5>
            </a>
          </h2>
        </div>
      </div>
      <div class="box_ct bor">
        <!--Featured Brands-->
        <!--end Featured Brands-->
        <div class="cf"></div>
        <!--List Products-->
        <div class="pros_home column_items">
          <ul>
            <% for(var i=0; i<8; i=i+1){ %>
            <li class="columns">
              <% if(category.products[i]){ %>
              <div class="pro_item">
                <figure class="img_pro">
                  <span>
                    <a
                      href="/<%=category.products[i].url_path%>"
                      title="<%=category.products[i].name%>">
                      <img
                        src="<%=category.products[i].thumbnail_url%>"
                        alt="<%=category.products[i].name%>"
                        title="<%=category.products[i].name%>"/>
                    </a>
                  </span>
                  <div class="addtocart col_addcart">
                    <a
                      href="gio-hang.html"
                      class="hvr-shutter-out-horizontal"
                      rel="nofollow"><i class="fa fa-cart-plus"></i>
                      <span>Mua ngay</span>
                    </a>
                  </div>
                </figure>
                <h4 class="pro_name">
                  <a
                    href="/<%=category.products[i].url_path%>"
                    title="<%=category.products[i].name%>">
                    <%=category.products[i].name%>
                  </a>
                </h4>
                <div class="info_price"><span class="m_price"><%=category.products[i].price[0].value%></span> <span class="f_price"><del>490,000 đ</del></span></div>
                <div class="star_rating fa fa-star"><span style="width:80%"></span></div>
                <div class="pro_discount"><span>-39%</span></div>
              </div>
              <% } %>
            </li>

            <% } %>
          </ul>
        </div>
        <!--end List Products-->
      </div>
    </div>
    <% }); %>
  </div>
</div>



<% include partials/footer %>
