<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    min-width: 330px;
    height: 100%;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="catalog/view/javascript/so_page_builder/css/style_render_326.css">
    <link rel="stylesheet" href="catalog/view/theme/so-revo/css/layout1/orange.css">
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/so-revo/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;amp;subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="Content/cssffec.css" rel="stylesheet"/>
    <link href="Content/jqueryUi400c.css" rel="stylesheet"/>
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <span class="mb_right_hotline">
      <span class="mb_bar">
        <ul>
          <li> <span class="bar_dm">Danh mục</span> </li>
          <li>
            <span class="">Điện thoại</span>
          </li>
          </li>
          <li> <a href="index.html"> <span>Trang chủ</span></a> </li>
          <li>
            <a href=""> <span id="bar_zopim">Gửi tin nhắn</span></a>
          </li>
          <li>
            <a href="gio-hang.html" rel="nofollow">
              <div id="cart_soluong" class="total-quantity-cart">0</div>
              <span id="bar_cart">Giỏ hàng</span>
            </a>
          </li>
        </ul>
        <img class="icon_bottom" style="width:100%;z-index:0;" src="Content/images/mb_bar_bgsk.png">
      </span>
    </span>
    <!--#begin Header-->
    <Header >
      <div class="container-fluid" style = "background-color: black">
        <div class="container">
          <a href='index' id='logo' class='columns' style = "text-align: left; ">
            <h1 style= "font-size:300%; margin-left:0px; color: white" >SoSanh.com</h1>
          </a>
          <!--Search Form-->
          <div class="columns head_mid" style = "background:black">
            <form class="navbar-form navbar-left" role="form">
              <div class="form-group">
                <input class="form-control" placeholder="Tìm Sản Phẩm" style="width:300px">
              </div>
              <button class="btn btn-primary" type="submit" style = "padding: 6px 6px" >Tìm Kiếm</button>
            </form>
          </div>
          <!--end Search Form-->
          <!--Cart Head-->
          <div class="filter_name cart_link fr">
            <a href="gio-hang.html" rel="nofollow" style = "color:white">
              <i class="fa fa-shopping-cart"></i>
              <div class="cart_link_pad"> <span class="cart_title"><b >Giỏ hàng</b></span> <i class="i_view_more"></i> <span class="cart_status"><b class="total-quantity-cart" style = "color:white">0</b> sản phẩm </span> </div>
            </a>
          </div>
          <!--end Cart Head-->
          <!--Account-->
          <div class="filter_name account_area fr">
            <i class="fa fa-user"></i>
            <div class="account_link_pad" style = "color:white"> <span class="account_login"><b>Đăng nhập</b></span><i class="i_view_more"></i> <span class="account_login_more">Tài khoản &amp; Đơn hàng</span> </div>
            <div class="contentEGP">
              <div class="form_head">
                <div class="dropdown_title">Đăng nhập</div>
                <div class="input_form">
                  <input type="text" id="txtemail" maxlength="50" class="input identity" placeholder="Email" />
                </div>
                <div class="input_form">
                  <input type="password" id="txtpass" class="input password" placeholder="Mật khẩu" />
                </div>
                <div class="login-notify"></div>
                <div class="input_form"> <a href="#" class="button" id="btnLogin" style = "height:45px">Đăng nhập <i class="arr_circle"></i></a></div>
                <div class="input_form note_wrapper"><a class="lost_password fl" href="quen-mat-khau.html">Quên mật khẩu?</a> <a rel="nofollow" href="dang-ky.html" class="fr">Đăng ký</a> </div>
              </div>
            </div>
          </div>
          <!--end Account-->
        </div>
      </div>
      <div class="container">
        <div class="head_bottom cf" style = "background: #337ab7; margin-top:12px">
          <!--Main Menu-->
          <div class="all_categories all_cate_subpage">
            <div class="menu_Tab" style = "background: #337ab7"><i class="icon_menu"></i>Danh mục sản phẩm</div>
            <div class="show_menu">
              <ul class="nav_menu" style="display: block">
                <li class="m_li" id="menu2">
                  <i class="icon_cate"> </i> <a class="t_menu" href="do-gia-dung.html"> Đồ gia dụng</a>
                  <div class="list_categories">
                    <ul class="subcatwrapper">
                      <li class="pc_menu">
                        <ul>
                          <li><a href="noi-com-dien.html"> Nồi cơm điện</a> </li>
                          <li><a href="noi-ap-suat.html"> Nồi áp suất</a> </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="cf"> </div>
          </div>
          <!--End Main Menu-->
          <!--Right Top Main-->
          <!--End Right Top Main-->
        </div>
      </div>
    </Header>
    <!--#end Header-->
    <div class="container">
      <div class="breadcrum">
        <div class="container">
          <a href="index.html" title="Trang chủ" style = "margin-left:15px">Trang chủ</a> /
          <a href="do-gia-dung.html" title="Trang chủ">Đồ gia dụng</a><span>/</span>
          <a href="noi-ap-suat.html" title="Trang chủ">Nồi &#225;p suất</a>
        </div>
      </div>
    </div>
    <div class="container cf">
      <!-- #Main -->
      <div id="main">
        <!--Detail Product Page-->
        <div class="box box_prod_detail">
          <div class="product_slide columns">
            <!--Image Product-->
            <div class="img_dtp">
              <div class="img_wrapper_inner main_img">
                <img id="image" src="<%=product.thumbnail_url%>" data-zoom-image="<%=product.thumbnail_url%>" />
              </div>
            </div>
          </div>
          <!--Info Detail Pro-->
          <div class="info_detail_pro columns">
            <h1 class="heading_page"><%=product.name%></h1>
            <!--Detail Pro Items-->
            <div class="nine columns detail_pro_items">
              <div class="row_pro">
                <div class="brand fl">
                  <b>Thương hiệu</b>
                  <a href="" title="Khaluck.Home">
                  <img src="" alt="Khaluck.Home" title="Khaluck.Home" />
                  </a>
                </div>
                <div class="view_count fr"> <b>Lượt xem: <span>578</span></b> </div>
              </div>
              <div class="row_pro short_des_dtp">Tiện lợi, hữu &#237;ch trong việc chế biến c&#225;c m&#243;n hầm, ninh nhừ, ch&#225;o, ch&#232;, cơm...chức năng tự động, tiết kiệm thời gian</div>
              <div class="row_pro">
                <div class="code_pro fr"> <b>Mã sản phẩm:</b> <span>KL-688S</span></div>
              </div>
              <div class="row_pro line_dot"></div>
              <div class="row_pro price_detail">
                <div class="origin"></div>
                <div class="col_detail">
                  <p>Giá bán</p>
                  <div class="cost"><%=product.price[0].value%></div>
                </div>
                <div class="col_detail">
                  <p> <del class="f_price">1,050,000 đ</del> </p>
                  <p>
                    Tiết kiệm<br />
                    <b>340,000 đ = 33%</b>
                  </p>
                </div>
              </div>
              <div class="row_pro line_dot" style="margin-bottom: 10px"></div>
              <div class="row_pro info_des_dtp">
                <ul>
                  <li>Model: KL-688S</li>
                  <li>Hãng sản xuất: Khaluck</li>
                  <li>Dung tích	6.0 lít</li>
                  <li>Công suất: 1000W </li>
                  <li>Chất liệu Lòng nồi Inox cao cấp</li>
                  <li>Đa chức năng nấu tự động như nấu cơm, nấu canh, cháo, hầm...</li>
                  <li>Công nghệ Nhật Bản</li>
                  <li>Bảo hành	12 Tháng</li>
                </ul>
              </div>
              <div class="row_pro line_dot" style="margin-bottom: 10px"></div>
              <div class="row_pro">
                <span class="title">Chọn số lượng:</span> <span class="info_row add_number">
                <input type="number" id="txtQty" name="txtQty" class="txtQty" value="1" min="1" />
                </span>
                <span class='stock stk_y' itemprop='availability' content='in_stock'>Còn hàng</span>
              </div>
              <div class="row_pro info_dt_payment">
                <a class="btn_order button_buy fl" href="gio-hang.html" rel="nofollow"> <span class="btn_order_icon icon_spcart"></span> <span class="text_btn">Đặt mua</span> </a>
              </div>
            </div>
            <!--end Detail Pro Items-->
            <!--Status-->
            <div class="status_support seven columns fr">
              <div class="row_pro row_policy"><span class="item_poli">Giao hàng nhanh 24h HCM</span> <span class="item_poli">Giao COD trên toàn quốc</span> <span class="item_poli">Phục vụ CSKH chu đáo</span><span class="item_poli">Hàng đúng như mô tả</span> </div>
            </div>
            <!--End Status-->
          </div>
          <!--end Info Detail Pro-->
        </div>
        <!--Text Detail-->
        <div class="twelve columns tab_dt_pro">
          <!--Stick Bar-->
          <div id="stickyheader">
            <ul class="product_tabs">
              <li> <a href="#anchor_intro" title="Giới thiệu">Giới thiệu</a> </li>
              <li> <a href="#anchor_spec" title="Các thông số, chi tiết kỹ thuật">Thông số</a> </li>
              <li> <a href="#anchor_brand" title="Thông tin thương hiệu">Thông tin thương hiệu</a> </li>
              <li> <a href="#anchor_comment" title="Các bình luận, đánh giá">Đánh giá</a> </li>
            </ul>
          </div>
          <!--end Stick Bar-->
          <section class="tab_descp" id="anchor_intro">
            <h3 class="section_title_dt">Giới thiệu</h3>
            <div id="info_detailP">
              <p><span style="font-size: 16px;">Nồi &aacute;p suất điện ng&agrave;y nay l&agrave; một vật dụng v&ocirc; c&ugrave;ng hữu &iacute;ch thiết thực trong mỗi căn bếp của mọi gia đ&igrave;nh. V&igrave; cấu tạo, thiết kế rất k&iacute;n hơi, m&acirc;m nhiệt to, dễ sử dụng, đặc biệt c&ocirc;ng suất lớn n&ecirc;n sẽ gi&uacute;p chị em nội trợ ninh, hầm xương hay nấu ch&aacute;o&hellip;cực nhanh ch&oacute;ng, kh&ocirc;ng mất thời gian, c&ocirc;ng sức. So với c&aacute;c c&aacute;ch nấu th&ocirc;ng thường th&igrave; khi d&ugrave;ng nồi &aacute;p suất sẽ c&oacute; lợi thế l&agrave; giữ lại được hầu như nguy&ecirc;n vẹn nguồn dinh dưỡng, vitamin, kho&aacute;ng chất của c&aacute;c thực phẩm.</span></p>
              <p><img src="Data/san-pham/201710/noi-ap-suat-dien-khaluck-kl-688s-2.jpg" alt="Nồi &aacute;p suất điện Khaluck KL-688S (6L)" width="650" style="font-size: 16px; display: block; margin-left: auto; margin-right: auto;" caption="false" /></p>
              <p><span style="font-size: 16px;">Chỉ mất 15 ph&uacute;t để hầm xương thay v&igrave; 2 giờ đồng hồ với c&aacute;c loại nồi th&ocirc;ng thường đ&oacute; ch&iacute;nh l&agrave; Nồi &aacute;p suất điện Khaluck KL-688S (6L) v&ocirc; c&ugrave;ng tiện dụng th&iacute;ch hợp mọi gia đ&igrave;nh chế biến m&oacute;n ăn thơm ngon, dinh dưỡng đặc biệt sản phẩm v&ocirc; c&ugrave;ng th&iacute;ch hợp cho những gia đ&igrave;nh c&oacute; trẻ em v&agrave; người gi&agrave;.</span></p>
              <p><img src="Data/san-pham/201710/noi-ap-suat-dien-khaluck-kl-688s-3.jpg" alt="Nồi &aacute;p suất điện Khaluck KL-688S (6L)" width="650" style="font-size: 16px; display: block; margin-left: auto; margin-right: auto;" caption="false" /></p>
              <p></p>
              <p></p>
              <p><span style="font-size: 16px;"><strong>ĐẶC ĐIỂM NỔI BẬT CỦA NỒI &Aacute;P SUẤT ĐIỆN KHALUCK KL-688S (6L):</strong></span></p>
              <p><span style="font-size: 16px;">L&ograve;ng nồi</span></p>
              <p><span style="font-size: 16px;">Được l&agrave;m từ chất liệu bằng inox n&ecirc;n đảm bảo an to&agrave;n cho sức khỏe của người d&ugrave;ng. Đặc biệt inox c&oacute; độ bền cao, khả năng chịu nhiệt tốt v&agrave; kh&ocirc;ng tiết chất độc hại v&agrave;o thức ăn.</span></p>
              <p><span style="font-size: 16px;">Dung t&iacute;ch</span></p>
              <p><span style="font-size: 16px;">Nồi &aacute;p suất điện KL-688S c&oacute; dung t&iacute;ch lớn đến 6L n&ecirc;n ho&agrave;n to&agrave;n th&iacute;ch hợp cho những gia đ&igrave;nh đ&ocirc;ng người, hoặc sử dụng chế biến m&oacute;n ăn v&agrave;o những buổi sum họp bạn b&egrave;, người th&acirc;n.</span></p>
              <p><span style="font-size: 16px;">C&ocirc;ng suất</span></p>
              <p><span style="font-size: 16px;">Vận h&agrave;nh với mức c&ocirc;ng suất l&agrave; 1000W kh&ocirc;ng chỉ nhanh, tiết kiệm thời gian, điện năng m&agrave; c&ograve;n đảm bảo giữ m&ugrave;i vị v&agrave; dinh dưỡng của thức ăn.</span></p>
              <p><img src="Data/san-pham/201710/noi-ap-suat-dien-khaluck-kl-688s-1.jpg" alt="Nồi &aacute;p suất điện Khaluck KL-688S (6L)" width="650" style="font-size: 16px; display: block; margin-left: auto; margin-right: auto;" caption="false" /></p>
              <p></p>
              <p><img src="Data/san-pham/201710/noi-ap-suat-dien-khaluck-kl-688s-5.jpg" alt="Nồi &aacute;p suất điện Khaluck KL-688S (6L)" width="650" style="display: block; margin-left: auto; margin-right: auto;" caption="false" /><span style="font-size: 16px;"></span></p>
              <p></p>
              <p><span style="font-size: 16px;">Chức năng nấu tự động</span></p>
              <p><span style="font-size: 16px;">Nồi &aacute;p suất điện Khaluck KL-688S trang bị nhiều chức năng nấu kh&aacute;c nhau như: hầm thịt, xương, c&aacute;, nấu soup, ch&acirc;n gi&ograve;, ch&aacute;o, cơm&hellip; g&oacute;p phầm l&agrave;m phong ph&uacute;, đa dạng cho chị em nội trợ trổ t&agrave;i nấu ăn, th&ecirc;m thực đơn hấp dẫn lạ miệng h&agrave;ng ng&agrave;y cho người th&acirc;n trong gia đ&igrave;nh thưởng thức.</span></p>
              <p><span style="font-size: 16px;">Hệ thống bảo vệ</span></p>
              <p><span style="font-size: 16px;">Hệ thống điều khiển nhiệt v&agrave; &aacute;p suất tự động với khả năng sẽ tự cảm ứng, điều chỉnh mức nhiệt, xả &aacute;p tự động sao cho ph&ugrave; hợp lượng thức ăn trong nồi. Khi &aacute;p suất l&ecirc;n qu&aacute; cao, th&igrave; nồi sẽ tự động ngắt điện đi để đảm bảo an to&agrave;n v&agrave; độ bền của sản phẩm.</span></p>
              <p><span style="font-size: 16px;">N&uacute;m xoay cơ điều khiển</span></p>
              <p><span style="font-size: 16px;">Thiết kế n&uacute;t vặn t&ugrave;y chỉnh đơn giản, dễ hiểu, dễ sử dụng v&agrave; đ&egrave;n b&aacute;o thuận tiện cho người d&ugrave;ng theo d&otilde;i qu&aacute; tr&igrave;nh nấu thức ăn của m&igrave;nh.</span></p>
              <p></p>
              <p><img src="Data/san-pham/201710/noi-ap-suat-dien-khaluck-kl-688s-4.jpg" alt="Nồi &aacute;p suất điện Khaluck KL-688S (6L)" width="650" style="font-size: 16px; display: block; margin-left: auto; margin-right: auto;" /></p>
              <p></p>
              <p><span style="font-size: 16px;">Khaluck &ndash; một thương hiệu chuy&ecirc;n sản xuất c&aacute;c sản phẩm gia dụng th&ocirc;ng minh, hiện đại được đ&ocirc;ng đảo gia đ&igrave;nh Việt chọn lựa. Ch&iacute;nh v&igrave; thế việc chọn mua nồi &aacute;p suất điện Khaluck l&agrave; quyết định đ&uacute;ng đắn của c&aacute;c chị em nội trợ. Một m&oacute;n qu&agrave; cực kỳ hữu &iacute;ch, sang trọng, c&oacute; gi&aacute; trị cao để bạn tặng cho người th&acirc;n, &ocirc;ng b&agrave;, cha mẹ, vợ&hellip;đấy nh&eacute;!</span></p>
            </div>
            <div class="cf"> </div>
          </section>
          <section class="tab_specifications" id="anchor_spec">
            <h3 class="section_title_dt">Thông số kỹ thuật</h3>
            <ul>
              <li><span>Model: KL-688S</span></li>
              <li><span>H&atilde;ng sản xuất: Khaluck</span></li>
              <li><span>Dung t&iacute;ch 6.0 l&iacute;t</span></li>
              <li><span>C&ocirc;ng suất: 1000W</span></li>
              <li><span>Chất liệu L&ograve;ng nồi Inox cao cấp</span></li>
              <li><span>Đa chức năng nấu tự động như nấu cơm, nấu canh, ch&aacute;o, hầm...</span></li>
              <li><span>C&ocirc;ng nghệ Nhật Bản</span></li>
              <li><span>Bảo h&agrave;nh 12 Th&aacute;ng</span></li>
            </ul>
            <div class="cf"></div>
            <div class="btn_addtocart_bottom" align="center"><a class="btn_order button_buy" href="gio-hang.html" rel="nofollow"> <span class="btn_order_icon icon_spcart"></span> <span class="text_btn">Đặt mua</span> </a></div>
            <div class="cf" style="height:30px"> </div>
          </section>
          <div class="cf" style="height:30px"> </div>
          <section class="tab_comments" id="anchor_comment">
            <h3 class="section_title_dt">Đánh giá & Bình luận</h3>
            <!--Comment-->
            <div class="comment_part padd15">
              <div class="title_cmt">Chia sẻ nhận xét của bạn về Nồi &#225;p suất điện Khaluck KL-688S (6L)</div>
              <div class="pcmnd">
                <textarea data-name="content-comment" class="input_cmt" rows="2" cols="20" placeholder="Nhận xét về sản phẩm"></textarea>
              </div>
              <div class="pcmnd hidden1">
                <div id="review_info">
                  <div class="personal_info fl">
                    <h3 class="title_cmt">Cung cấp thông tin cá nhân</h3>
                    <div class="form_web padd_tb10 cf">
                      <div class="row_account">
                        <label class="item_title fl">Họ và tên:</label>
                        <div class="row_input">
                          <input type="text" data-name="name-comment" maxlength="50" class="inputbox" autocorrect="on" autocapitalize="on" placeholder="Nhập tên của bạn">
                        </div>
                      </div>
                      <div class="row_account">
                        <label class="item_title fl">Email:</label>
                        <div class="row_input">
                          <input type="text" data-name="email-comment" maxlength="100" class="inputbox" autocomplete="on" placeholder="Địa chỉ email - không bắt buộc">
                        </div>
                      </div>
                    </div>
                    <div class="pcmnd">
                      <div class="fr">
                        <input type="submit" value="Gửi bình luân" class="buttoncm btn-sendcomment" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cf"> </div>
              <div class="view_comments" id="anchor_cus_comment">
                <div class="title_new_comment">
                  <h3 class="title_cmt">Có 0 bình luận:</h3>
                </div>
              </div>
            </div>
            <!--End Comment-->
            <!--Useful Info-->
          </section>
        </div>
        <!--end Text Detail-->
        <!--Products Fixed-->
        <div class="four columns mod-sideDeal fr">
          <div class="sticky">
            <div class="other_products bor">
              <h3 class="g_Tab">Xem thêm</h3>
              <div class="vertical_pros slide_v_pros">
                <div class="item">
                  <div class="pro_item">
                    <figure class="img_pro fl"><span><a href="noi-ap-suat-dien-khaluck-kl-699.html" title="Nồi &#225;p suất điện Khaluck KL-699"> <img src="Data/Product/noi-ap-suat-dien-khaluck-kl-699-1.jpg" alt="Nồi &#225;p suất điện Khaluck KL-699" title="Nồi &#225;p suất điện Khaluck KL-699"  /></a></span> </figure>
                    <h4 class="pro_name"> <a href="noi-ap-suat-dien-khaluck-kl-699.html" title="Nồi &#225;p suất điện Khaluck KL-699">Nồi &#225;p suất điện Khaluck KL-699</a></h4>
                    <div class="info_price"><span class="m_price">780,000 đ</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cf"></div>
          </div>
        </div>
      </div>
      <!--End Products Fixed-->
    </div>
    <!--End Main-->
    <!--Policy-->
    <div class = "container">
      <section id="policy" style = "margin-bottom: 10px; background: #337ab7">
        <div class="container">
          <ul>
            <li class="columns">
              <div class="poli_item">
                <span class="poli_icon"><i class="fa fa-certificate"></i></span>
                <a href="#">
                  <div class="poli_desc"><span>100% sản phẩm</span> chính hãng - giá tốt </div>
                </a>
              </div>
            </li>
            <li class="columns">
              <div class="poli_item">
                <span class="poli_icon"> <i class="fa fa-refresh"></i></span>
                <a href="#">
                  <div class="poli_desc"> Đổi trả hàng <span>Trong vòng 7 ngày</span> </div>
                </a>
              </div>
            </li>
            <li class="columns">
              <div class="poli_item">
                <span class="poli_icon"><i class="fa fa-truck"></i></span>
                <a href="#">
                  <div class="poli_desc"> Giao hàng miễn phí <span>trong vòng 24 giờ</span> </div>
                </a>
              </div>
            </li>
            <li class="columns">
              <div class="poli_item">
                <span class="poli_icon"> <i class="fa fa-money"></i></span>
                <a href="#">
                  <div class="poli_desc"> Thanh toán <span>nhanh chóng & an toàn</span> </div>
                </a>
              </div>
            </li>
          </ul>
          <div class="cf"></div>
        </div>
      </section>
    </div>
    <!--end Newletters-->
    <!-- end SEO content -->
    <!--Footer-->
    <footer style = "background: black">
      <!-- FOOTER TOP -->
      <section class=" " id="footer-newsletter-box" style ="margin-top:1px; background: #337ab7">
        <div class="container page-builder-ltr">
          <div class="row row_9sqy ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_jqwv col-style">
              <div class="module news-letter">
                <div class="">
                  <div class="title-block">
                    <div class="page-heading">
                      <h4>Nhận thông tin khuyến mãi từ SoSanh.com</h4>
                    </div>
                  </div>
                  <div class="block_content">
                    <form class="navbar-form navbar-left" role="form">
                      <div class="form-group">
                        <input class="form-control" placeholder="Tìm Sản Phẩm" style="width:400px">
                      </div>
                      <button class="btn btn-primary" type="submit" style = "padding: 6px 6px; background: yellow" >
                        <p style = "color: black">Đăng ký</p>
                      </button>
                    </form>
                  </div>
                  <!--/.modcontent-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class=" section-image" id="store-box" >
        <div class="container page-builder-ltr">
          <div class="row row_lro8 ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_1ulk col-style">
              <div class="yt-tabs basic  yt-clearfix ">
                <div class="">
                  <div class="clearfix active" >
                    <div class="row">
                      <div class="col-sm-6">
                        <p><span style="font-size:16px"><span class="fa fa-map-marker"></span></span><span style="font-size:16px">268 Lý Thường Kiệt, Phường 14, Quận 10, TPHCM</span></p>
                        <p><span style="font-size:16px"></span></p>
                        <p><span style="font-size:16px"><strong><span style="color:#cc0000"><span class="fa fa-phone" style="color:#ffffff"></span>&nbsp;</span><span style="color:#cc0000"></span><span style="color:#cc0000">1000000000</span><span style="color:#cc0000"></span><span style="color:#cc0000"></span></strong></span></p>
                        <p><span style="font-size:16px"><span class="fa fa-envelope"></span>&nbsp;SoSanh@gmail.com</span></p>
                        <p><span style="font-size:16px"><span class="fa fa-clock-o"></span>&nbsp;Giờ làm việc: 24h</span></p>
                      </div>
                      <div class="col-sm-6">
                        <iframe width="100%" height="230" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.7375230510226!2d106.6571342080269!3d10.774881648080665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec3c161a3fb%3A0xef77cd47a1cc691e!2sHo+Chi+Minh+City+University+of+Technology!5e0!3m2!1sen!2s!4v1523596310070" frameborder="0" allowfullscreen="" style="border:0"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
      <!-- FOOTER CENTER -->
      <div class="footer-center">
        <div class="footer-center-1 container">
          <div class="row">
          </div>
        </div>
        <div class="footer-center-2">
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>
      </div>
      <!-- FOOTER BOTTOM -->
      <div class="footer-bottom " style = " background: #337ab7">
        <div class="container" >
          <div class="row">
            <div class="col-sm-4 copyright">
              © SoSanh company 2018 All Rights Reserved. Designed by <a href="">OISP - 2</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="bundles/libraryscript6dbe?v=yO8Wx6-xlWPOfKAmjm2e0J13GbXzbogl21VFrfwzl1g1"></script>
    <script src="bundles/jqueryUibd79?v=bcyTQsH7OGFZEqsqnZ6CibrPNvwdiXK__7F649I2ARk1"></script>
    <script src="bundles/commonscript7bdc?v=-A8pKd20pofNOVhk7i4LsBIkyoCyN_VOzbOEavOP5S81"></script>
    <script src="bundles/customermanagementc03b?v=ozO5J0SudmZ3RYmPyMxlLli01-YUB7NIN6dcOfUhtX41"></script>
  </body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/shop.css" rel="stylesheet">
    <!-- https://canvasjs.com/html5-javascript-line-chart/ -->
    <script>
      window.onload = function () {

      var product =<%-JSON.stringify(product)%>
      var count = 0;

      var chart = new CanvasJS.Chart("chartContainer", {
      	animationEnabled: true,
      	theme: "light2",
      	title:{
      		text: "Biểu đồ giá"
      	},
        axisX:{
          valueFormatString: "MMM DD" ,
          labelAngle: -50
        },
      	axisY:{
      		includeZero: false
      	}
      	// data: [{
      	// 	type: "line",
      	// 	dataPoints: [
        //     { x: new Date(product.price[0].date), y: product.price[0].value}
      	// 	]
      	// }]
      });

      chart.options.data = []; // Set Array of dataSeries

      // https://canvasjs.com/docs/charts/basics-of-creating-html5-chart/updating-chart-options/
      product.price.forEach(function(data){
        chart.options.data[count] = {connectNullData: true}; // type: "line"
        chart.options.data.push({});
        chart.options.data[count].dataPoints = [];
        chart.options.data[count].dataPoints.push({x: new Date(data.date), y: data.value});

        count = count+1;
      });

      chart.render();

      }
    </script>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tang-gia">Tăng gía</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/giam-gia">Giảm giá</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4">Shop Name</h1>
          <div class="list-group">
            <a href="#" class="list-group-item active">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="<%=product.thumbnail_url%>" alt="">
            <div class="card-body">
              <h3 class="card-title"><%=product.name%></h3>
              <%product.price.forEach(function(each){%>
              <h4><%=each.value%></h4>
              -
              <% }); %>
              <% if(currentUser){ %>
              <center>
                <h3>Track the product now!!!</h3>
              </center>
              <form action="/track/<%=currentUser._id%>/<%=product.product_id%>" method="POST">
                <input
                  type="submit"
                  class="btn btn-block btn-primary"
                  onclick="return confirm('Are you want to track this Product? We will notify you via email.');"
                  value="submit">
              </form>
              <% } %>
              <!-- <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars -->
            </div>
          </div>
          <!-- /.card -->
          <div id="chartContainer" style="height: 300px; width: 100%;"></div>
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-lg-9 -->
      </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </body>
</html>
