<% include partials/headerProduct %>
<div class="container">
  <div class="breadcrum">
    <div class="container">
      <a href="/" title="Trang chủ" style = "margin-left:15px">Trang chủ</a> /
      <a href="#" title="<%=product.category_type%>"><%=product.category_type%></a>
    </div>
  </div>
</div>
<div class="container cf">
  <!-- #Main -->
  <div id="main">
    <!--Detail Product Page-->
    <div class="box box_prod_detail">
      <div class="product_slide columns">
        <!--Image Product-->
        <div class="img_dtp">
          <div class="img_wrapper_inner main_img">
            <img id="image" src="<%=product.thumbnail_url%>" data-zoom-image="<%=product.thumbnail_url%>" />
          </div>
        </div>
        <!--end Image Product-->
        <!-- JS FOR SCROLLING THE ROW OF THUMBNAILS -->
      </div>
      <!--Info Detail Pro-->
      <div class="info_detail_pro columns">
        <h1 class="heading_page"><%=product.name%></h1>
        <!--Detail Pro Items-->
        <div class="nine columns detail_pro_items">
          <div class="row_pro">
            <div class="brand fl">
              <b>Thương hiệu</b>
              <a href="#" title="<%=product.brand%>">
              <img src="" alt="<%=product.brand%>" title="<%=product.brand%>" />
              </a>
            </div>
            <div class="view_count fr"> <b>Lượt xem: <span><%= Math.round(Math.random()*100) %></span></b> </div>
          </div>
          <div class="row_pro short_des_dtp">Tiện lợi, hữu &#237;ch trong việc chế biến c&#225;c m&#243;n hầm, ninh nhừ, ch&#225;o, ch&#232;, cơm...chức năng tự động, tiết kiệm thời gian</div>
          <div class="row_pro">
            <div class="code_pro fr"> <b>Mã sản phẩm:</b> <span><%=product.product_id%></span></div>
          </div>
          <div class="row_pro line_dot"></div>
          <div class="row_pro price_detail">
            <div class="origin"></div>
            <div class="col_detail">
              <p>Giá bán</p>
              <div class="cost"><%=product.price[0].value%></div>
            </div>
            <div class="col_detail">
              <p> <del class="f_price">1,050,000 đ</del> </p>
              <p>
                Tiết kiệm<br />
                <b>340,000 đ = 33%</b>
              </p>
            </div>
          </div>
          <div class="row_pro line_dot" style="margin-bottom: 10px"></div>
          <div class="row_pro info_des_dtp">
            <ul>
              <li>Model: KL-688S</li>
              <li>Hãng sản xuất: <%=product.brand%></li>
              <li>Dung tích	6.0 lít</li>
              <li>Công suất: 1000W </li>
              <li>Chất liệu Lòng nồi Inox cao cấp</li>
              <li>Công nghệ Nhật Bản</li>
              <li>Bảo hành	12 Tháng</li>
            </ul>
          </div>
          <div class="row_pro line_dot" style="margin-bottom: 10px"></div>
          <div class="row_pro">
            <span class="title">Chọn số lượng:</span> <span class="info_row add_number">
            <input type="number" id="txtQty" name="txtQty" class="txtQty" value="1" min="1" />
            </span>
            <span class='stock stk_y' itemprop='availability' content='in_stock'>Còn hàng</span>
          </div>
          <div class="row_pro info_dt_payment">
            <a class="btn_order button_buy fl" href="gio-hang.html" rel="nofollow"> <span class="btn_order_icon icon_spcart"></span> <span class="text_btn">Đặt mua</span> </a>
          </div>
        </div>
        <!--end Detail Pro Items-->
        <!--Status-->
        <div class="status_support seven columns fr">
          <div class="row_pro row_policy"><span class="item_poli">Giao hàng nhanh 24h HCM</span> <span class="item_poli">Giao COD trên toàn quốc</span> <span class="item_poli">Phục vụ CSKH chu đáo</span><span class="item_poli">Hàng đúng như mô tả</span> </div>
        </div>
        <!--End Status-->
      </div>
      <!--end Info Detail Pro-->
    </div>
    <!--Text Detail-->
    <div class="twelve columns tab_dt_pro">
      <!--Stick Bar-->
      <div id="stickyheader">
        <ul class="product_tabs">
          <li> <a href="#chart" title="Biểu đồ giá">Biểu đồ giá</a> </li>
          <li> <a href="#images" title="Hình ảnh sản phẩm">Hình ảnh sản phẩm</a> </li>
          <li> <a href="#tracking" title="Theo dõi sản phẩm">Theo dõi sản phẩm</a> </li>
          <li> <a href="#comment" title="Các bình luận, đánh giá">Đánh giá sản phẩm</a> </li>
        </ul>
      </div>
      <!--end Stick Bar-->
      <section class="tab_descp" id="intro">
        <h3 class="section_title_dt">Biểu đồ giá</h3>
        <div id="info_detailP">
          <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>
        <div class="cf"></div>
      </section>
      <section class="tab_specifications" id="images">
        <h3 class="section_title_dt">Hình ảnh sản phẩm</h3>
        <% product.more_thumbnail_url.forEach(function(image){ %>
          <figure class="img_pro fl">
            <span>
              <img
              src="<%=image%>"
              alt="Hình ảnh minh họa <%=product.name%>"
              title="Hình ảnh minh họa cho <%=product.name%>" />
            </span>
          </figure>
        <% }); %>
        <div class="cf"></div>
        <div class="btn_addtocart_bottom" align="center"><a class="btn_order button_buy" href="gio-hang.html" rel="nofollow"> <span class="btn_order_icon icon_spcart"></span> <span class="text_btn">Đặt mua</span> </a></div>
        <div class="cf" style="height:30px"> </div>
      </section>
      <div class="cf" style="height:30px"> </div>
      <section class="tab_specifications" id="tracking">
        <% if(currentUser){ %>
          <h3 class="section_title_dt">Nhận biểu đồ giá qua mail</h3>
          <form action="/track/<%=currentUser._id%>/<%=product.product_id%>" method="POST">
            <input
              type="submit"
              class="btn btn-block btn-primary"
              onclick="return confirm('Are you want to track this Product? We will notify you via email.');"
              value="submit">
          </form>
        <% } else { %>
          <h3 class="section_title_dt">Bạn phải đăng nhập</h3>
        <% } %>
      </section>
      <section class="tab_comments" id="comment">
        <h3 class="section_title_dt">Đánh giá & Bình luận</h3>
        <h4>Những nhận xét của khách hàng về <%=product.name%></h4>

        <% product.comments.forEach(function(comment){ %>
        <div class="comment_part padd15">
          <label class="item_title fl"><%=comment.author_name%></label>
          <hr>
          <div class="row_input">
            <%=comment.content%>
          </div>
        </div>
        <% }); %>
        <!--Comment-->
        <div class="comment_part padd15">
          <div class="title_cmt">Chia sẻ nhận xét của bạn về <%=product.name%></div>
          <div class="pcmnd">
            <textarea data-name="content-comment" class="input_cmt" rows="2" cols="20" placeholder="Nhận xét về sản phẩm"></textarea>
          </div>
          <div class="pcmnd hidden1">
            <div id="review_info">
              <div class="personal_info fl">
                <h3 class="title_cmt">Cung cấp thông tin cá nhân</h3>
                <div class="form_web padd_tb10 cf">
                  <div class="row_account">
                    <label class="item_title fl">Họ và tên:</label>
                    <div class="row_input">
                      <input type="text" data-name="name-comment" maxlength="50" class="inputbox" autocorrect="on" autocapitalize="on" placeholder="Nhập tên của bạn">
                    </div>
                  </div>
                  <div class="row_account">
                    <label class="item_title fl">Email:</label>
                    <div class="row_input">
                      <input type="text" data-name="email-comment" maxlength="100" class="inputbox" autocomplete="on" placeholder="Địa chỉ email - không bắt buộc">
                    </div>
                  </div>
                </div>
                <div class="pcmnd">
                  <div class="fr">
                    <input type="submit" value="Gửi bình luân" class="buttoncm btn-sendcomment" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cf"> </div>
          <div class="view_comments" id="anchor_cus_comment">
            <div class="title_new_comment">
              <h3 class="title_cmt">Có 0 bình luận:</h3>
            </div>
          </div>
        </div>
        <!--End Comment-->
        <!--Useful Info-->
      </section>
    </div>
    <!--end Text Detail-->
    <!--Products Fixed-->
    <div class="four columns mod-sideDeal fr">
      <div class="sticky">
        <div class="other_products bor">
          <h3 class="g_Tab">Xem thêm</h3>
          <div class="vertical_pros slide_v_pros">
            <!-- Math.floor(Math.random() * (max - min + 1)) + min -->
            <%categories[Math.floor(Math.random() * (3 - 1 + 1)) + 1].products.forEach(function(productInWatchMore){ %>
              <div class="item">
                <div class="pro_item">
                  <figure class="img_pro fl">
                    <span>
                      <a
                        href="/<%=productInWatchMore.url_path%>"
                        title="<%=productInWatchMore.name%>">
                          <img
                            src="<%=productInWatchMore.thumbnail_url%>"
                            alt="<%=productInWatchMore.category_type%>"
                            title="<%=productInWatchMore.name%>" />
                      </a>
                    </span>
                  </figure>
                  <h4 class="pro_name"><a href="/<%=productInWatchMore.url_path%>" title="<%=productInWatchMore.name%>"><%=productInWatchMore.name%></a></h4>
                  <div class="info_price"><span class="m_price"><%=productInWatchMore.price[0].value%> đ</span> </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
        <div class="cf"></div>
      </div>
    </div>
  </div>
  <!--End Products Fixed-->
</div>
<% include partials/footer %>
